

/* Index.html styles */
.fonts{
    font-family: 'Merriweather', serif;
}
 
.container{
    margin-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row{
    margin-top: 40px;
    margin-bottom: 30%;
}

img{
    display: block;
    max-width: 80%;
    height: 350px;
  }


/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .col-sm-12{
        display: block;
        max-width: 100%;
        height: auto;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .col-md-3{
        display: block;
        max-width: 100%;
        height: auto;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .col-lg-4{
        display: block;
        max-width: 100%;
        height: auto;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .col-xl-3{
        display: block;
        max-width: 100%;
        height: auto;
    }
}