
.fonts{
    font-family: 'Merriweather', serif;
}

/* @media screen and (max-width: 480px){
    .col-md-3 img{
        max-width: 100%;
    }
} */

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .col-md-3 img{
        max-width: 100%;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
        .col-md-3 img{
        max-width: 100%;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .col-md-3 img{
        max-width: 100%;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .col-md-3 img{
        max-width: 100%;
    }
} 